<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Mickael\Offers\Api\OfferInterface" type="Mickael\Offers\Model\Offer"/>
	<virtualType name="Mickael\Offers\Model\ResourceModel\Offer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mickael_offers</argument>
			<argument name="resourceModel" xsi:type="string">Mickael\Offers\Model\ResourceModel\Offer\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="Uploader" type="Magento\Catalog\Model\ImageUploader">
	   <arguments>
	      <argument name="baseTmpPath" xsi:type="string">back/image</argument>
	      <argument name="basePath" xsi:type="string">back/image</argument>
	      <argument name="allowedExtensions" xsi:type="array">
	         <item name="jpg" xsi:type="string">jpg</item>
	         <item name="jpeg" xsi:type="string">jpeg</item>
	         <item name="gif" xsi:type="string">gif</item>
	         <item name="png" xsi:type="string">png</item>
	      </argument>
	   </arguments>
	</virtualType>
	<type name="Mickael\Offers\Controller\Adminhtml\Index\Uploader">
	   <arguments>
	      <argument name="imageUploader" xsi:type="object">Uploader</argument>
	   </arguments>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="mickael_offers_offer_listing_data_source" xsi:type="string">Mickael\Offers\Model\ResourceModel\Offer\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
